body {
	cursor: url('images/berry.cur'), default;
}

h1 {
  color: pink;
  font-stretch: extra-expanded;
  font-family: 'Vampiro One', cursive;
  font-size: 72px;
  margin-left: 40px;
  text-shadow: 0 0 8px #FF0000;
  transition: color .25s ease,
  text-shadow: .25s ease;
}

h1:hover {
  color: white;
  text-shadow: 0 0 8px #FADADD;
}

a {
  color: ivory;
  background: tan;
  width: 100px;
  font-size: 40px;
  font-family: sans-serif;
  font-style: oblique;
  text-decoration-color: pink;
  text-decoration-style: wavy;
  margin-left: 40px;
  cursor: url('images/milk.cur'), default;
}

.float-title {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  z-index: -1;
}

.image {
	position: fixed;
	top: 150px;
	right: 600px;
	padding-right: 20px;
	z-index: -2;
}

img {
	display: flex;
	align-items: right;
	align-content: right;
	justify-content: right;
	height: 25vh;
	animation: flash 4s alternate ease infinite;
}

/* image:hover {
	filter: blur(3px);
	transform: rotate(30px);
} */

@keyframes flash {
  0% {opacity: 0;}
	40% {opacity: 50;}
	60% {opacity: 50;}
  100% {opacity: 100;}
}
