.bigbox {
  background: white;
  width: 100%;
  height: 100%;
}

.tan {
  background: tan;
  width: 100%;
  height: 200px;
  margin: 15px;
}

.orange {
  background: orange;
  width: 50%;
  height: 400px;
  margin: 15px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.red {
  background: orangered;
  width: 250px;
  height: 200px;
}

.row2right {
  width: 50%;
  height: 400px;
  margin: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

.teal {
  background: teal;
  width: 50%
  height: 60px;
  margin: 15px;
}

.row3 {
  
}
